md-dialog {

    &.compose-dialog {
        max-width: 720px;
        width: 720px;
        md-toolbar {
            height: 50px;
            min-height: 50px;
            padding: 10px;
            background-color: rgba(25, 102, 138, 0.05)!important;
            color: rgba(1, 59, 86, 0.6);
            .md-toolbar-tools{
                padding: 0 5px;
                md-icon{
                    font-size: 20px;
                    margin-right: 10px;
                    //color: rgba(0, 0, 0, 0.3);
                    color: #039be5!important;
                    fill: #039be5!important;
                }
                h3{
                    margin: 0;
                    color: rgba(1, 59, 86, 0.6);
                    font-size: 16px;
                    //font-weight: 500;
                }
                button{
                    md-icon{
                        color: rgba(1, 59, 86, 0.6)!important;
                    }
                }
            }
        }

        md-dialog-content {
            padding: 16px;
            background: #fff;
            >.layout-row{
                height: 80px;
            }
            .state-capsule{
                position: relative;
                top: -4px;
                span:first-child{
                    padding: 5px;
                    background: rgba(3, 155, 229, 0.09);
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    //border-right: solid 1px #ccc;
                    //border: solid 1px #eee;
                }
                span:last-child{
                    padding: 5px;
                    //background: rgba(238, 238, 238, 0.5);
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    border: solid 1px #eee;
                    height: 29px;
                }
            }
            .md-icon-button.md-accent{
                margin-right: -10px;
            }
            ._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore){
                left: 40px;
            }
            md-datepicker{
                margin-left: -10px;
                .md-datepicker-input-container{
                    width: 75%;
                }
                .md-datepicker-button{
                    margin-left: -8px;
                    padding-left: 0px;
                }
            }
            md-select, md-autocomplete{
                font-size: 14px!important;
            }
            .dep-checkbox{
                width: 120px;
                top:-10px;
                margin-bottom: 0;
                color: #aaa;
                .md-icon{
                    width: 18px;
                    height: 18px;
                    border-color: #aaaaaa!important;
                    &:after{
                        left: 3.66667px;
                        top: 0.22222px;
                        width: 6.66667px;
                        height: 11.33333px;
                    }
                }
                &.md-checked .md-icon {
                    border-color: transparent!important;
                }
            }
            .payment-list-body{
                max-height: 200px;
                min-height: 40px;
                .state-checker{
                    height: 100%;
                    margin-top: 10px;
                    span{
                        md-icon{
                            font-size: 19px;
                            color: rgba(76, 76, 76, 0.17);
                        }
                        font-size: 13px;
                        color: rgba(76, 76, 76, 0.21);
                    }
                }
                .payment-list-item{
                    text-align: right;
                    padding: 10px 16px;
                    &:not(:last-child){
                        border-bottom: solid 1px #f1f1f1;
                    }
                }
            }
        }
        md-dialog-actions {
            position: relative;
            justify-content: space-between;
            border-top: none!important;
            background-color: #ffffff!important;
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    md-dialog {

        &.compose-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    md-dialog {

        &.compose-dialog {
            width: 90%;
        }
    }
}