<meta name="owner" content="GihanHerath">
<meta name="modifiedBy" content="Kasun">
<meta name="modifiedDate" content="15-02-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="plans">
<meta name="view" content="plans.html">

<div id="subscriptions" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
                ng-include="'app/main/subscriptions/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div ng-switch-when="default" class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start start" ng-if="vm.activeInvoicePaneIndex === 0" ng-hide="inpageReadPaneEdit || editOff">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md
                           aria-label="Toggle Sidenav">
                    <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                </md-button>

                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for Plans">
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <div layout="row" style="height:100%">
            <!-- CONTENT CARD -->
            <div class="content-card" layout="column" ng-if="!inpageReadPaneEdit && !editOff" flex ng-class="{'flex-30':showInpageReadpane}">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activePlanPaneIndex === 0">
                    <div ng-include="'app/main/subscriptions/views/list/list-header.html'" layout="row" flex layout-align="start center"></div>
                </div>
                <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activePlanPaneIndex === 1 && !editOff">
                    <md-button class="md-icon-button"
                               ng-click="vm.closeReadPane()"
                               aria-label="Back">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT WRAPPER -->
                <div class="content-wrapper" layout="row" flex>
                    <md-tabs md-selected="vm.activePlanPaneIndex" class="content-tabs" md-dynamic-height="{{vm.dynamicHeight}}" flex>
                        <!-- INVOICE LIST PANE -->
                        <md-tab>
                            <md-tab-label>Plans List Pane</md-tab-label>
                            <md-tab-body>
                                <div layout="row">
                                    <div flex class="content main-list-pane"
                                         ng-include="'app/main/subscriptions/views/list/list-view.html'" ms-scroll>
                                    </div>
                                </div>

                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE LIST PANE -->

                        <!-- INVOICE DISPLAY PANE -->
                        <md-tab>
                            <md-tab-label>Plans Display Pane</md-tab-label>
                            <md-tab-body>
                                <div class="content plan-display-pane"
                                     ng-include="'app/main/subscriptions/views/read/read-view.html'" ms-scroll>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE DISPLAY PANE -->
                    </md-tabs>
                </div>
                <!-- / CONTENT WRAPPER -->
            </div>
            <!-- / CONTENT CARD -->
            <div flex="80" class="inpage-readpane" ng-if="showInpageReadpane" md-whiteframe="4dp">
                <div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-hide="isReadLoaded">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div layout="row" layout-align="space-between center" class="inpage-readpane-toolbar">
                    <h3 class="group-sub-head" layout="row" layout-align="start center">Subscription info</h3>
                    <div layout="row">
                        <md-menu>
                            <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-menu"></md-icon>
                                <md-tooltip>Actions</md-tooltip>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button aria-label="Delete" layout="row" layout-align="start center" ng-click="openSubscriptionStopPane($event,vm.selectedSubscription)" ng-disabled="vm.selectedSubscription.orderStatus == 'Stopped'">
                                        <i class="material-icons md-warn">not_interested</i>
                                        <span>Cancel subscription</span>
                                    </md-button>
                                </md-menu-item>
                                <!--<md-menu-item>-->
                                    <!--<md-button aria-label="Delete" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'Immediate')" ng-disabled="vm.selectedSubscription.orderStatus == 'Stopped'">-->
                                        <!--<md-icon md-font-icon="icon-stop"></md-icon>-->
                                        <!--<span>Stop (Immediately)</span>-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                    <!--<md-button aria-label="Delete" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'EOM')" ng-disabled="vm.selectedSubscription.orderStatus == 'Stopped'">-->
                                        <!--<md-icon md-font-icon="icon-stop"></md-icon>-->
                                        <!--<span>Stop (End of Circle)</span>-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <md-menu-item>
                                    <md-button aria-label="Delete" ng-disabled="vm.selectedSubscription.orderStatus == 'Active'">
                                        <md-icon md-font-icon="icon-play" class="md-accent"></md-icon>
                                        <span>Start</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button" ng-click="switchInfoPane('close',vm.selectedSubscription)">
                            <md-icon md-font-icon="icon-close"></md-icon>
                            <md-tooltip>Close</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <div id="stop-subscription" layout="column" ng-if="stopPaneOpen" class="animate-slide-down" md-whiteframe="4dp">
                    <div class="header-bar text-right" layout="row" layout-align="space-between center">
                        <h3>Cancel subscription</h3>
                        <md-button class="md-icon-button" ng-click="closeSubscriptionStopPane()"><md-icon md-font-icon="icon-close"></md-icon> </md-button>
                    </div>
                    <div class="p-20">
                        <div>
                            <div layout="row" layout-align="start center" class="title">
                                <i class="material-icons">not_interested</i> <span flex>Cancel immediately</span>
                            </div>
                            <div class="mt-10 mb-20">Subscription will be cancelled immediately</div>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-accent md-raised" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'Immediate')">Choose this</md-button>
                            </div>
                        </div>
                        <md-divider class="mv-20"></md-divider>
                        <div>
                            <div layout="row" layout-align="start center" class="title">
                                <i class="material-icons">not_interested</i> <span flex>Cancel on renewal</span>
                            </div>
                            <div class="mt-10 mb-20">Subscription will be cancelled on {{vm.selectedSubscription.endDate | limitTo:10}}</div>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-accent md-raised" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'EOM')">Choose this</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex class="ph-16 wf-visible">
                    <div layout="row" flex>
                        <div layout="column" layout-align="center center" flex="45">
                            <div layout="row">
                                <div layout="column" class="mr-10 op-5">
                                    <img src="app/core/app_icons/subscription_view.png" class="w-50">
                                </div>
                                <div layout="column" layout-align="center start">
                                    <h2 class="m-0 font-accent">{{vm.selectedSubscription.code}}</h2>
                                    <span class="op-5">by <b>{{vm.selectedSubscription.first_name}}</b></span>
                                </div>
                            </div>
                        </div>
                        <div layout="column" flex>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                                <div flex="60" class="iconed-label">
                                    <md-icon md-font-icon="icon-map"></md-icon> <span>Plan</span>
                                </div>
                                <div flex class="">{{vm.selectedSubscription.name}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark" ng-if="showMoreUserInfo">
                                <div flex="60" class="iconed-label">
                                    <md-icon md-font-icon="icon-star"></md-icon> <span>Status</span>
                                </div>
                                <div flex>{{vm.selectedSubscription.status}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark" ng-if="showMoreUserInfo">
                                <div flex="60" class="iconed-label">
                                    <md-icon md-font-icon="icon-map"></md-icon> <span>Plan type</span>
                                </div>
                                <div flex>{{vm.selectedSubscription.type}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark" ng-if="showMoreUserInfo">
                                <div flex="60" class="iconed-label">
                                    <md-icon md-font-icon="icon-calendar-check"></md-icon> <span>Last billing date</span>
                                </div>
                                <div flex>{{vm.selectedSubscription.lastBillDate | parseDate | date: 'dd'}} {{vm.selectedSubscription.lastBillDate | parseDate | date: 'MMMM' | limitTo:3}} {{vm.selectedSubscription.lastBillDate | parseDate | date: 'yyyy'}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row">
                                <div flex="60" class="iconed-label">
                                    <md-icon md-font-icon="icon-calendar-check"></md-icon> <span>Next scheduled date</span>
                                </div>
                                <div flex>{{vm.selectedSubscription.endDate | parseDate | date: 'dd'}} {{vm.selectedSubscription.endDate | parseDate | date: 'MMMM' | limitTo:3}} {{vm.selectedSubscription.endDate | parseDate | date: 'yyyy'}}</div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="end end" class="more-chevron" flex>
                        <div layout="row" layout-align="start center" style="background: #fff">
                            <md-button class="md-icon-button" ng-click="contentExpandHandler()"><md-icon md-font-icon="icon-chevron-down" ng-if="!showMoreUserInfo"></md-icon><md-icon md-font-icon="icon-chevron-up" ng-if="showMoreUserInfo"></md-icon> </md-button><label ng-if="showMoreUserInfo">Less</label><label ng-if="!showMoreUserInfo">More</label>
                        </div>
                    </div>
                    <!--<div layout="row" layout-align="end center">-->
                    <!--<div layout="column" layout-align="center center" ng-if="vm.selectedSubscription.orderStatus == 'Active'" class="ml-10">-->
                    <!--<md-button aria-label="Delete" class="md-icon-button md-raised md-warn w-40" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'Immediate')">-->
                    <!--<md-icon md-font-icon="icon-stop"></md-icon>-->
                    <!--<md-tooltip>Stop (Immediately)</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<span class="fs-12 mt-5 op-5">Immediately</span>-->
                    <!--</div>-->
                    <!--<div layout="column" layout-align="center center" ng-if="vm.selectedSubscription.orderStatus == 'Active'" class="ml-10">-->
                    <!--<md-button aria-label="Delete" class="md-icon-button md-raised md-warn w-40" ng-click="showStopSubscriptionConfirm($event,vm.selectedSubscription,'EOM')">-->
                    <!--<md-icon md-font-icon="icon-stop"></md-icon>-->
                    <!--<md-tooltip>Stop (End of circle)</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<span class="fs-12 mt-5 op-5">End of Circle</span>-->
                    <!--</div>-->
                    <!--<div layout="column" layout-align="center center" ng-if="vm.selectedSubscription.orderStatus == 'Stopped'" class="ml-10">-->
                    <!--<md-button aria-label="Delete" class="md-icon-button md-raised md-accent w-40">-->
                    <!--<md-icon md-font-icon="icon-play"></md-icon>-->
                    <!--<md-tooltip>Start</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<span class="fs-12 mt-5 op-5">Start</span>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="inpage-readpane-body p-0">
                    <md-card flex class="input-block-gen eq-margin" layout="column">
                        <md-card-title layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Subscription history</h3>
                            </div>
                            <!--<md-button class="md-icon-button" ng-click="getTenantPaymentHistory()"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Refresh list</md-tooltip></md-button>-->
                        </md-card-title>
                        <div class="list-header" layout="row">
                            <!--<div flex="20" layout-align="start center">Plan</div>-->
                            <div flex layout-align="start center">Start</div>
                            <div flex="20">User Name</div>
                            <div flex="20">Occurences</div>
                            <div flex="20">Billing Cycles</div>
                            <div flex="20">Amount</div>
                            <div flex="10" layout="row" layout-align="start center">Status</div>
                        </div>
                        <md-card-content md-whiteframe="1dp" class="p-0" flex>
                            <md-content class="sub-list list-content" ms-scroll>
                                <div layout="row" layout-align="center center" class="msg-empty-list" ng-if="vm.paymentHistoryList.length == 0 || vm.paymentHistoryList == null">
                                    <span><md-icon md-font-icon="icon-information-outline"></md-icon> No record has been created yet</span>
                                </div>
                                <div layout="row" flex class="list-item" ng-repeat="history in vm.paymentHistoryList" ng-hide="isTenantPaymentHistoryClicked">

                                    <!--<div flex="20" layout="row" layout-align="start center">-->
                                        <!--<span>{{history.code}}</span>-->
                                    <!--</div>-->
                                    <div flex layout="row" layout-align="start center">
                                        <span> {{history.startDate | date:'yyyy.MM.dd'}}</span>
                                    </div>
                                    <div flex="20">{{history.first_name}} {{history.last_name}}</div>
                                    <div flex="20">{{history.occurences}}</div>
                                    <div flex="20">{{history.billingCycles==-1?"Auto Renew":history.billingCycles}}</div>
                                    <div flex="20">{{history.amount}}</div>
                                    <div flex="10" layout="row" layout-align="start center">
                                        <span flex>{{history.status}}</span>
                                    </div>
                                </div>
                                <div class="invoice-list-item" ng-show="vm.isOrderHistoryLoaded" layout="row" layout-align="center center">
                                  <md-button ng-click="searchmoreOrderHistory(vm.selectedSubscription)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
                                </div>
                            </md-content>
                        </md-card-content>
                    </md-card>
                    <!--<div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-hide="moreAuditTrailLoaded" ng-if="isReadLoaded">-->
                        <!--<md-progress-linear md-mode="indeterminate" class="md-accent w-200 rot-90"></md-progress-linear>                    </div>-->
                    <!--<div class="cust-ledg-container">-->
                        <!--<div layout="column" layout-align="center center" class="preloader-dot-auto h-60" flex ng-hide="moreAuditTrailLoaded" ng-if="isReadLoaded" >-->
                            <!--<img src="assets/images/142.gif" alt="" class="w-60 rot-90" />-->
                        <!--</div>-->

                        <!--<div layout="row" class="cust-ledg-item" ng-repeat="history in auditTrailList">-->
                            <!--<div flex="10"></div>-->
                            <!--<div flex="40" class="date-portion">-->
                                <!--<div flex>-->
                                    <!--<span>{{history.createdDate | parseDate | date: 'dd'}}</span>-->
                                    <!--<span>{{history.createdDate | parseDate | date: 'MMMM' | limitTo:3}}</span>-->
                                    <!--<span>{{history.createdDate | parseDate | date: 'yyyy'}}</span>-->
                                    <!--<div class="timeline-time">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline-circle" ng-class="item.transactionType">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div flex="5"></div>-->

                            <!--<div flex="35" class="info-portion" layout="row" layout-align="center center">-->
                                <!--<md-card md-theme="default" md-theme-watch="" layout="row" layout-align="space-between center" flex>-->
                                    <!--<div layout="column">-->
                                        <!--<div layout="row">-->
                                            <!--<span>{{history.module}}</span>-->
                                        <!--</div>-->
                                        <!--<div layout="row">-->
                                            <!--<span>{{history.remark}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div layout="column" layout-align="center center" class="preloader-dot-auto" ng-show="item.isDialogLoading || isDialogClosed" >&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="assets/images/142.gif" alt=""/>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</md-card>-->
                            <!--</div>-->
                            <!--<div flex="5"></div>-->

                        <!--</div>-->

                        <!--&lt;!&ndash;load more button&ndash;&gt;-->
                        <!--<div layout="row" layout-align="center center" class="tl-load-more" ng-show="vm.isAuditTrailLoaded">-->
                            <!--<md-button class="md-icon-button" ng-click="searchmoreAuditTrails(vm.selectedSubscription)">-->
                                <!--<md-icon md-font-icon="icon-plus-circle md-accent"></md-icon>-->
                                <!--<md-progress-circular md-mode="indeterminate" class="md-accent more-ledger-circle" ng-hide="moreAuditTrailLoaded"></md-progress-circular>-->
                                <!--<md-tooltip>View More</md-tooltip>-->
                            <!--</md-button>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<md-card class="carded-list-wrap" md-whiteframe="2dp" style="position:relative;">-->
                        <!--<md-card-header>-->
                            <!--<md-card-header-text layout="row">-->
                                <!--<span flex="10" layout-align="center start">Index</span>-->
                                <!--<span flex="20" layout-align="center start">Date</span>-->
                                <!--<span flex="20" layout-align="start center" layout="row"><span>Module</span></span>-->
                                <!--<span flex layout-align="start center" layout="row">Remark</span>-->
                            <!--</md-card-header-text>-->
                        <!--</md-card-header>-->
                        <!--<md-divider></md-divider>-->
                        <!--&lt;!&ndash;<div class="preloader" layout="row" layout-sm="column" layout-align="space-around" ng-hide="moreAuditTrailLoaded">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-progress-circular md-mode="indeterminate"></md-progress-circular>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-hide="moreAuditTrailLoaded">-->
                            <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
                        <!--</div>-->
                        <!---->
                        <!--<md-content ms-scroll style="position:relative;height: auto;background-color: #ffffff;max-height: 330px;min-height: 330px" ng-class="{'page-setup-cover': moreAuditTrailLoaded==false}">-->
                            <!--<div layout="row" flex class="payment-history-row" ng-repeat="history in auditTrailList" ng-hide="noAuditTrailLabel">-->
                                <!--<div class="prodCost" flex="10" layout="row" layout-align="start center">-->
                                    <!--<span>{{$index+1}}</span>-->
                                <!--</div>-->
                                <!--<div class="prodCost" flex="20" layout="row" layout-align="start center">-->
                                    <!--<span>{{history.createdDate | parseDate | date: 'dd'}} {{history.createdDate | parseDate | date: 'MMMM' | limitTo:3}} {{history.createdDate | parseDate | date: 'yyyy'}}</span>-->
                                <!--</div>-->
                                <!--<div class="prodCost" flex="20" layout="row" layout-align="start center">-->
                                    <!--<span class="text-truncate">{{history.module}}</span>-->
                                <!--</div>-->
                                <!--<div class="prodCost" flex layout="row" layout-align="start center">-->
                                    <!--<span> {{history.remark}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="invoice-list-item" ng-show="vm.isAuditTrailLoaded" ng-hide="!moreAuditTrailLoaded" layout="row" layout-align="center center">-->
                                <!--<md-button ng-click="searchmoreAuditTrails(vm.selectedSubscription)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>-->
                            <!--</div>-->
                            <!--<div ng-show="noAuditTrailLabel" layout="column" layout-align="center center" style="height: 100%;">-->
                                <!--<span class="no-sched"><md-icon md-font-icon="icon-information-outline"></md-icon> No Audit Trails for this User!</span>-->
                            <!--</div>-->
                        <!--</md-content>-->
                    <!--</md-card>-->
                    <!--<md-tabs md-dynamic-height md-border-bottom>-->
                    <!--<md-tab label="Subscription">-->
                    <!--<md-content class="md-padding">-->
                    <!--<div layout="row" class="inpage-readpane">-->
                    <!--<div flex class="inpage-readpane-body">-->
                    <!--<div ng-if="showMoreUserInfo">-->
                    <!--</div>-->
                    <!--<div layout="row" layout-align="end end" class="more-chevron">-->
                    <!--<div layout="row" layout-align="start center" style="background: #ffffff">-->
                    <!--<md-button class="md-icon-button" ng-click="contentExpandHandler()"><md-icon md-font-icon="icon-chevron-down" ng-if="!showMoreUserInfo"></md-icon><md-icon md-font-icon="icon-chevron-up" ng-if="showMoreUserInfo"></md-icon> </md-button><label ng-if="showMoreUserInfo">Less</label><label ng-if="!showMoreUserInfo">More</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</md-content>-->
                    <!--</md-tab>-->
                    <!--<md-tab label="Subscription history" md-no-scroll>-->

                    <!---->
                    <!--&lt;!&ndash;<md-card flex class="input-block-gen" style="height: 81%;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-card-title layout="row" layout-align="space-between center" style="max-height: 50px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div layout="row" layout-align="start center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Subscription history</h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-card-title>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="list-header" layout="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div flex="10" layout-align="center start">Index</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div flex="20" layout-align="center start">Date</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div flex="20" layout-align="start center" layout="row"><span>Module</span></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div flex layout-align="start center" layout="row">Remark</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div flex="10"></div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div flex="10" layout="row" layout-align="end center">REMARK</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-card-content style="padding: 0;max-height: 100%" ms-scroll>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="preloader" layout="row" layout-sm="column" layout-align="space-around" ng-hide="moreAuditTrailLoaded">&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-progress-circular md-mode="indeterminate"></md-progress-circular>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div layout="row" flex class="payment-history-row" ng-repeat="history in auditTrailList" ng-hide="noAuditTrailLabel">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="prodCost" flex="10" layout="row" layout-align="start center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span>{{$index+1}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="prodCost" flex="20" layout="row" layout-align="start center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span>{{history.createdDate | parseDate | date: 'dd'}} {{history.createdDate | parseDate | date: 'MMMM' | limitTo:3}} {{history.createdDate | parseDate | date: 'yyyy'}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="prodCost" flex="20" layout="row" layout-align="start center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="text-truncate">{{history.module}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="prodCost" flex layout="row" layout-align="start center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span> {{history.remark}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div layout="column" layout-align="center center" class="preloader-dot-auto" ng-hide="moreAuditTrailLoaded" >&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<img src="assets/images/142.gif" alt=""/>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="invoice-list-item" ng-show="vm.isAuditTrailLoaded" ng-hide="!moreAuditTrailLoaded" layout="row" layout-align="center center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button ng-click="searchmoreAuditTrails(vm.selectedSubscription)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-show="noAuditTrailLabel" layout="column" layout-align="center center" style="height: 100%;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="no-sched"><md-icon md-font-icon="icon-information-outline"></md-icon> No Audit Trails for this User!</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-card>&ndash;&gt;-->
                    <!--</md-tab>-->
                    <!--</md-tabs>-->
                </div>

            </div>
        </div>
    </div>
    <!-- / CENTER -->

</div>
