<div class="productName" layout="column" layout-align="center start" flex>
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Customer</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showUser" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('user',true,'User')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showUser" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('user',null,'User')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" flex="15" ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Plan</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('code',true,'Code')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('code',null,'Code')">
                <md-icon ng-if="reverse==false" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==true" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" flex="15" ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Order Type</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showType" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('uom',true,'Type')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showType" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('uom',null,'Type')">
                <md-icon ng-if="reverse==false" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==true" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" flex="20" ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Last billing date</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showLast" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('lastBillDate',true,'Last')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showLast" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('lastBillDate',null,'Last')">
                <md-icon ng-if="reverse==false" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==true" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" flex="20" ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Next scheduled date</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showNext" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('endDate',true,'Next')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showNext" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('endDate',null,'Next')">
                <md-icon ng-if="reverse==false" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==true" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
    <div layout="row" layout-align="center center" fill-width>
        <span layout="column" layout-align="center center" class="header-text">Status</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('status',true,'Status')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('status',null,'Status')">
                <md-icon ng-if="reverse==false" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==true" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
        <div flex></div>
        <md-menu>
            <md-button class="md-icon-button h-30 w-30 pv-5 ph-0 m-0 op-5" ng-click="$mdOpenMenu($event)">
                <i class="material-icons fs-20">sort</i>
                <md-tooltip>Filters</md-tooltip>
            </md-button>

            <md-menu-content width="3" class="list-filter-menu">
                <md-menu-item>
                    <md-button layout="row" layout-align="start center" ng-click="applyFilters('')">
                        <md-icon md-font-icon="icon-label" class="filter-label s16"></md-icon>
                        <span>All</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button layout="row" layout-align="start center" ng-click="applyFilters('Active')">
                        <md-icon md-font-icon="icon-label" class="filter-label-positive s16"></md-icon>
                        <span>Active</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button layout="row" layout-align="start center" ng-click="applyFilters('Stopped')">
                        <md-icon md-font-icon="icon-label" class="filter-label-negative s16"></md-icon>
                        <span>Stopped</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!--<md-button class="md-icon-button h-30 pv-5 ph-0 m-0"><i class="material-icons fs-20">filter_list</i></md-button>-->
    </div>
</div>
