<!-- INVOICE LIST ITEMS -->
<meta name="updatedBy" content="Kasun">
<meta name="modifiedDate" content="07-03-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="subscriptions">
<meta name="view" content="list-view.html">

<div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-if="isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="main-empty-list" ng-if="vm.subscriptions.length == 0 && !isLoading">
    <div>
		<div class="empty-list-img miscimg"></div>
        <h2>Nothing to Show</h2>
        <p>Sorry, We could'nt find any record for the current inquiry</p>
    </div>
</div>

<!-- INVOICE LIST ITEMS -->
<div class="list-item" layout="row" layout-align="center center" flex ng-repeat="subscription in vm.subscriptions | filter:vm.search | filter: global.search"
     ng-click="switchInfoPane('show',subscription)"
     ng-class="{'selected': vm.selectedListItem === subscription && showInpageReadpane,
     'pl-25':subscription.class == 'Trial'}">

    <span class="type-flag" ng-if="subscription.class == 'Trial'">Trial</span>
    <div layout="row" layout-align="start center" flex>

        <div flex layout="row">
            <div class="dual-info" layout="column" layout-align="center start">
                <span>{{subscription.first_name}} {{subscription.last_name}}</span>
                <div class="dual-info-sub">
                {{subscription.email}}
                </div>
            </div>
        </div>

        <div flex="15" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
            {{subscription.code}}
        </div>

        <!--<div flex="15" layout="column" layout-align="center start" ng-if="!showInpageReadpane">-->
            <!--{{subscription.email}}-->
        <!--</div>-->

        <div flex="15" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
            {{subscription.uom}}
        </div>

        <div flex="15" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
            <span>{{subscription.lastBillDate | parseDate | date}}</span>
        </div>

        <div flex="15" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
            <span ng-if="subscription.remarks!='endofsubscription'">{{subscription.endDate | parseDate | date}}</span>
            <span ng-if="subscription.remarks=='endofsubscription'">--</span>
        </div>

        <div class="status" layout="column" layout-align="center start" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
            <span class="pill" layout="row" layout-align="center center" ng-class="{'partial':subscription.status==='Pending','positive':subscription.status==='Active','negative':subscription.status==='Stopped'}">{{subscription.status}}</span>
        </div>
    </div>
</div>
<div class="invoice-list-item" ng-hide="hideSearchMore || vm.searchMoreInit" layout="row" layout-align="center center">
  <md-button ng-click="loadByKeywordSubscription(vm.search,vm.search.length)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
</div>
<!-- PRODUCT LIST ITEMS

<!-- PRODUCT LIST ITEMS
