<meta name="modifiedBy" content="GihanHerath">
<meta name="modifiedDate" content="07-03-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="subscription">
<meta name="view" content="read-view.html">

<div id="subscriptions-read" class="compact page-layout blank" layout="row">
  <div class="subscriptions-read-container" flex>
    <!-- READ PLAN -->
    <!-- / READ PLAN -->

    <!-- Use the following element to add breaks to your pages -->
    <!-- This will make sure that the section after this element will be printed on a new page -->
    <div class="page-break"></div>

  </div>
</div>

